<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>URL Shortner</title>
</head>

<body class="bg-light">
    <div class="container-fluid text-bg-primary p-3 text-center d-grid gap-3 mt-5">
        <h1 class="display-1">URL Shortner</h1>
        <form action="/url" method="post" class="container">
            <div class="input-group input-group-lg shadow rounded">
                <input type="text" class="form-control" placeholder="Shorten your link" name="url">
                <button class="btn btn btn-dark" type="submit" id="button-addon2">Shorten</button>
              </div>
        </form>
        <div class="container bg-light rounded table-responsive shadow p-3 mb-5 bg-white rounded">
            <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Copy</th>
                  </tr>
                </thead>
                <tbody>
                    <% data.forEach( el => { %>
                    <tr>
                      <td class="text-truncate" style="max-width: 150px;"><a href="<%= el.fullURL %>" target="_blank" class="text-truncate" style="max-width: 150px"><%= el.fullURL %></a></td>
                      <td><a href="<%= el.shortURL %>" target="_blank" id="short-url">http://localhost:3000/<%= el.shortURL %></a></td>
                      <td><button type="button" class="btn btn-secondary" onclick="copyText(this)" data-url="http://localhost:3000/<%= el.shortURL %>"><i id="icon" class="fa-regular fa-clipboard"></i></button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script> const copyText = (url) => navigator.clipboard.writeText(url.getAttribute("data-url")); </script>
</body>

</html>